.navbar-header {
  float: right;
}
li.left{
  position:inherit;
  display: flex;
  justify-content: flex-start;

}
div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 2000px;
}
@media (min-width: 1025px) {
  .ut-mm-button{
    display:none;
  }
}
